.slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  padding: 40px;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  color: #05acff;
  text-align: center;
}
